#school{
    color:black;
    background-color: white;
    border-radius: 8px;
}

#educationLevel{
    color:black;
    background-color: white;
    border-radius: 8px;

}

#program{
    color:black;
    background-color: white;
    border-radius: 8px;
}

#workshops{
    color:black;
    background-color: white;
    border-radius: 8px;

}

#hackathonsAttended{
    color:black;
    background-color: white;
    border-radius: 8px;

}

#codingExperience{
    color:black;
    background-color: white;
    border-radius: 8px;
}